<!-- app/views/seats/index.html.erb -->
<% if @have_booking %>
  <h1>You have a booking. You can only book one seat at a time.</h1>
<% end %>
<h1>Seat List</h1>

<!-- Create a table to display the seat list and booking information -->
<table>
  <thead>
  <tr>
    <th>Seat Name</th>
    <th>Booking Information</th>
  </tr>
  </thead>
  <tbody>
  <% @seats.each do |seat| %>
    <tr>
      <!-- Redirect to new booking page -->
      <td ><%= link_to seat.name, new_booking_path(seat_id: seat.id), class:"focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" %></td>
      <td>
        <% future_bookings = seat.bookings.where('from_date >= ?', Time.current.beginning_of_day) %>
        <% if future_bookings.any? %>
          <ul>
            <% future_bookings.each do |booking| %>
              <li>
                <strong>Booked by:</strong> <%= booking.user.full_name %>,
                <strong>From:</strong> <%= booking.from_date.strftime("%Y-%m-%d %H:%M") %>,
                <strong>To:</strong> <%= booking.to_date.strftime("%Y-%m-%d %H:%M") %>,
                <strong>Check in:</strong> <%= booking.check_in ? "Yes" : "No" %>,
              </li>
            <% end %>
          </ul>
        <% else %>
          No bookings yet.
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
