<h1>New Booking</h1>

# Create form to create a new booking
<%= form_with(model: @booking) do |form| %>
  <%= form.hidden_field :seat_id, value: @seat.id %>
  <%= form.label :seat_id %>
  <% if @seat.name %>
    <%= form.text_field :seat_name, value: @seat_name, readonly: true %>
  <% end %>
  <%= form.label :from_date %>
  <%= form.date_select :from_date %>
  <%= form.time_select :from_date, :ignore_date => true %>
  <%= form.label :to_date %>
  <%= form.date_select :to_date %>
  <%= form.time_select :to_date, :ignore_date => true %>
  <%= form.submit %>
<% end %>

<%= link_to 'Back', seats_path %>